*{
    padding: 200;
    margin: 200;
    box-sizing: border-box;
}

body{
    background-image: url(image/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.Logo{
    width: 5%;
    height: 5%;
    border-radius: 50%;
}

.text-white{
    color: white;
}

.third {
    text-align: center;
}

.card-img-top{
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.colour{
    color: white;
    border-radius: 10px;
}

.sidenav{
    border-radius: 10px;
}
.admin_Photo{
    width: 100px;
    height: 90px;
    /* border-radius: 40%; */
    object-fit: contain
}

.footer{
    position: absolute;
    bottom: 0;
}

.background{
    backdrop-filter: blur(10px);
}